h1{
    border: solid;
    margin: 1px 1px 40px 1px;
    left: 44%;
    font-style: italic;
    color: brown ;
}

table{
border-collapse:separate;
left: 34%;
top: 20%;

}

td, th{
    border: 2px solid;
    padding: 20px;
    background-color: rgb(109, 70, 169);
    border-color: brown;
    text-align: center;
}

body{
    background-color: rgb(221, 198, 149);
}

.titoli {
    font-style: italic;
    font-weight: bold;  
}

.centro {
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}