h1{
    border: solid;
    margin: 1px 1px 40px 1px;
    left: 44%;
    font-style: italic;
    color: rgb(159, 95, 95) ;
}

table{
border-collapse:separate;
left: 34%;
top: 20%;

}

td, th{
    border: 2px solid;
    padding: 20px;
    background-color: rgb(87, 57, 133);
    border-color: rgb(183, 121, 121);
    text-align: center;
}

body{
    background-color: rgb(28, 61, 25);
}

.titoli {
    font-style: italic;
    font-weight: bold;  
}

.centro {
    position:absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}